# Dependencies
node_modules/

# Local Dev Files
live-server

# Exclude confidential/large log files from Git repository
logs/*.log
logs/*.gz
logs/*.log.*

# Keep logs directory structure in repo
!logs/README.md
!logs/.gitkeep

TODO.md